# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Obsidian vault symlink
# ln -s "/Users/marcpower/Library/Mobile Documents/iCloud~md~obsidian/Documents/knowledge-system/Resources/MPC Website" ./kb-link-mpc-website
kb-link-mpc-website
